@font-face {
    font-family: Montserrat-Black;
    src: url('../fonts/Montserrat-Black.otf');
}

@font-face {
    font-family: Montserrat-Light;
    src: url('../fonts/Montserrat-Light.otf');
}

html {
    font-family: 'Arial';
    /* font-weight: thin; */
    /* font-size: 1.2em; */
}

body {
    margin: 0;
    padding: 0;
    /* background-color: white; */
}

.newC {
    margin-top: -10px;
    margin-bottom: 0;
}

.titre {
    color: #3992a0;
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;
    font-family: 'Montserrat-Black';
    padding: 0;
    margin: 10px 0;
}

.demiTitre {
    color: #77c7d3;
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    font-family: 'Montserrat-Black';
    padding: 0;
    margin: 10px 0;
}

.sousTitre {
    color: #3992a0;
    font-size: 25px;
    /* line-height:60px; */
    font-weight: 400;
    font-family: 'Montserrat-Black';
    padding: 0;
    margin: 0;
}

.titreSection {
    color: #77c7d3;
    font-size: 30px;
    line-height: 60px;
    font-weight: 700;
    font-family: 'Montserrat-Black';
    padding: 10px;
    margin: 10px 0;
    background-color: #3992a0;
    border-radius: 50px;
}

.marque {
    color: rgb(218, 103, 103);
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.icon-right {
    float: right;
}

.fontify {
    font-family: 'Montserrat-Light';
}

.icon-right {
    float: right;
    line-height: 0.2;
}
