@font-face {
    font-family: Montserrat-Black;
    src: url('../fonts/Montserrat-Black.otf');
}

@font-face {
    font-family: Montserrat-Light;
    src: url('../fonts/Montserrat-Light.otf');
}

html {
    font-family: Montserrat-Light, Arial, Helvetica, sans-serif;
    /* font-weight: thin; */
    /* font-size: 1.2em; */
}

body {
    margin: 0;
    padding: 0;
    /* background-color: white; */
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}


/* .home-body {} */

.newC {
    margin-top: -10px;
    margin-bottom: 0;
}

.titre {
    color: #5b8bd3;
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;
    font-family: 'Montserrat-Black';
    padding: 0;
    margin: 10px 0;
}

.demiTitre {
    color: #77c7d3;
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    font-family: 'Montserrat-Black';
    padding: 0;
    margin: 10px 0;
}

.sousTitre {
    color: #5b8bd3;
    font-size: 25px;
    /* line-height:60px; */
    font-weight: 400;
    font-family: 'Montserrat-Black';
    padding: 0;
    margin: 0;
}

.titreSection {
    color: #77c7d3;
    font-size: 30px;
    line-height: 60px;
    font-weight: 700;
    font-family: 'Montserrat-Black';
    padding: 10px;
    margin: 10px 0;
    background-color: #5b8bd3;
    border-radius: 50px;
}

.marque {
    color: rgb(218, 103, 103);
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.icon-right {
    float: right;
}

.fontify {
    font-family: 'Montserrat-Light';
}

.icon-right {
    float: right;
    line-height: 0.2;
}

footer {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "left middle right";
    background-color: #5b8bd3;
    border-top: #77c7d3 2px solid;
    align-items: center;
}

footer {
    font-size: 100%;
    padding: 5px;
    text-align: center;
}

footer ul li {
    list-style-type: none;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer .right {
    display: flex;
    flex-direction: column;
}

.filActu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.btn {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #ffffff;
    border-radius: 25px;
    border: #5b8bd3 solid 2px;
    min-width: 50px;
    /* min-height: 30px; */
    color: #5b8bd3;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}

.btn:hover {
    background-color: #5b8bd3;
    color: #ffffff;
}

.btn-add {
    font-size: 0.7em;
}

.descrip {
    padding: 5px;
    margin: 10px;
}

.listGroup {
    display: grid;
    grid-auto-rows: 50px;
    align-items: stretch;
    color: black;
}

.listGroup .listItem {
    padding: 5px;
    margin: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: end;
    border-radius: 15px;
}

.listGroup .listItem:nth-child(2n+1) {
    background-color: #5b8bd379;
}

.listGroup .listItem:nth-child(2n) {
    background-color: #77c7d37c;
}

.listGroup .listItem .icon-right {
    align-self: center;
}

.listGroup .listItem a {
    text-decoration: none;
}

.bodySection {
    padding: 20px;
    min-height: 500px;
    /* width: 100%; */
}

.videoList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.videoElt {
    display: grid;
    grid-template-rows: 2fr 1fr;
    /* grid-gap: 5px; */
    justify-items: center;
    border: #5b8bd3 1px solid;
}


/* .videoList .videoElt .caption {} */

.photoList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    place-items: center;
}

.photoElt {
    border: #5b8bd3 1px solid;
    display: flex;
    flex-direction: column;
}

.photoElt img {
    max-width: 300px;
    /* padding: 5px; */
}

.photoDescription {
    margin: 5px;
    padding: 5px;
    background-color: #5b8bd3;
}

.courList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.courElt {
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: stretch;
}

.courElt .photoElt img {
    align-self: center;
}

.courElt .caption {
    background-color: #5b8bd3;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.courElt .caption h3,
.courElt .caption h4,
.videoElt .caption h3,
.videoElt .caption h4 {
    padding: 0;
    margin: 0;
    justify-self: center;
}

.courElt .caption h3 {
    text-transform: uppercase;
}

.courElt .caption div,
.videoElt .caption div {
    display: grid;
    /* justify-items: center;
    align-items: center; 
    justify-content: end;
    align-content: flex-end*/
    grid-template-columns: 1fr 1fr;
}

.courElt .caption div a {
    text-align: center;
}

.container-connection {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.presentation {
    align-self: center;
    justify-self: center;
}

.presentation img {
    width: 500px;
}

.connection {
    display: grid;
    grid-auto-rows: 1fr auto;
    justify-self: stretch;
}

.form-connection-head {
    align-self: center;
    justify-self: center;
    font-size: 5em;
    color: #5b8bd3;
}

.form-signin form {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    /* padding: 30px; */
}

.form-signin form input[type="email"],
.form-signin form input[type="password"] {
    border: #5b8bd3 1px solid;
    margin: 5px 0;
    min-height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    /* justify-self: stretch; */
}

.form-signin form div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: stretch;
}

.form-signin form div.insc p {
    grid-column: 1/3;
    justify-self: center;
}

#forms {
    font-size: 2.5em;
    text-align: center;
}

.inscriptionContainer {
    width: 60%;
    margin: auto;
}

.form-insc form {
    display: grid;
    grid-auto-rows: 1fr;
}

.form-insc .form-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.form-insc .form-group label {
    grid-column: 1/2;
}

.form-insc .form-group input {
    grid-column: 2/4;
}

.form-insc .form-group label {
    justify-items: center;
    font-size: 1.5em;
    align-self: center;
}

.form-insc input,
.form-add input[type="text"],
.form-add input[type="email"],
.form-add input[type="password"],
.form-add input[type="file"],
.form-add select {
    border: #5b8bd3 1px solid;
    margin: 5px 0;
    min-height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    font-family: Montserrat-Light;
    width: 100%;
}

.form-insc .subBouton {
    align-items: center;
}

#send-conx {
    grid-column: 1/3;
}

#back-conx {
    grid-column: 3/4;
}

.form-insc .filliere {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    align-items: center;
}

.form-insc .filliere .fill {
    grid-column: 2/4;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.form-insc .filliere .fill .fill-part {
    display: flex;
    align-content: center;
}

.form-insc .filliere .fill .fill-part span {
    align-self: center;
    margin-left: 5px;
    font-size: 1.5em;
}

.form-insc .filliere-select div {
    grid-column: 2/4;
}

.container-add {
    width: 65%;
    margin: 20px auto;
}

.forms-add {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 30px;
}

.form-add>div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-row-gap: 5px;
}

.form-add>div *:nth-child(1) {
    grid-column: 1/2;
}

.form-add>div *:nth-child(2) {
    grid-column: 2/4;
}

.checkbox-add {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.form-add .sousTitre {
    text-align: center;
    margin: 10px auto;
}

@media screen and (max-width: 768px) {
    .filActu {
        grid-template-columns: 1fr;
    }
    .titre {
        text-align: center;
        /* width: 300px; */
        font-size: 30px;
        display: grid;
        grid-template-rows: 1fr auto;
    }
    .titre i {
        justify-self: center;
    }
    .titre span {
        padding: 0;
        margin: 0;
        align-self: center;
        line-height: 30px;
        text-align: center;
    }
    .demiTitre {
        font-size: 20px;
        padding: 0;
        margin: 0;
        align-self: center;
        line-height: 20px;
        text-align: center;
    }
    .sousTitre {
        font-size: 15px;
    }
    .videoList {
        grid-template-columns: 1fr;
    }
    .videoElt {
        max-width: 300px;
    }
    .photoList {
        grid-template-columns: 1fr;
    }
    .photoElt img {
        max-width: 300px;
    }
    .courList {
        grid-template-columns: 1fr;
        grid-auto-rows: 350px;
    }
    footer {
        font-size: 60%;
        padding: 5px;
        text-align: center;
    }
    .container-connection {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr;
        place-items: center;
        /* padding: 10px; */
    }
    .presentation img {
        width: 300px;
    }
    .connection {
        padding: 5px;
    }
    #forms {
        font-size: 1.3em;
    }
    .inscriptionContainer {
        width: 100%;
        /* padding: 5px; */
    }
    .form-insc {
        padding: 5px;
    }
    .form-insc .filliere .fill .fill-part span {
        font-size: 0.9em;
    }
    .form-insc .form-group label {
        font-size: 1.1em;
    }
}